/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
.word {
  font-size: 24px;
}
.genius {
    color: #4CAF50;
}
.add {
  color: green;
  text-align: right;
}

.add span {
  padding: 3px 14px 3px 14px;
  border-radius: 8px;
  border: 1px solid green;
  cursor: pointer;
}

.add span:hover {
  background: green;
  color: #ffffff;
}
.back {
  cursor: pointer;
  color: #F44D27;
  font-size: 18px;
  text-align: right;
}
.back:hover {
  color: blue;
}
.rowOfWords:hover {
  background: #F2F2F2;
}
li {
  cursor: pointer;
}
.meanNavPane {
  text-align: right;
}

