/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
.genius {
    color: dimgrey;
}
.add {
  color: green;
  text-align: right;
  cursor: pointer;
}
.add:hover {
  color: #ffffff;
}
.add a {
  padding: 3px 14px 3px 14px;
  border-radius: 8px;
  border: 1px solid green;
  text-decoration: none;
}
.add a:-webkit-any-link {
  color: green;
}
.add a:hover {
  background: green;
  color: #ffffff;
}
.back {
  cursor: pointer;
}
.rowOfWords:hover {
  background: #F2F2F2
}
/* 
 * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
 * for the full set of master styles used by the documentation samples
 */
